@charset "urf-8";

/* 전체영역입니다 */
*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}
li{
    list-style-type:none;
}
a{
    text-decoration:none;
    color:inherit;
}
body{
    overflow-x:hidden;
	color:#333333;
}
.clearfix::after{
	content:'';
	display:block;
	clear:both;
}
/* 전체영역입니다 */

/* header영역입니다 */
header{
    width:100%;
    height:100px;
    border-bottom:1px solid rgba(0, 0, 0, 0.2);
    background-color:#fff;
    position:sticky;
    top:0px;
    z-index:9999;
}
.header_inner, .footer_inner{
    width:1200px;
    margin:0 auto;
}
#menu_box{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:100px;
    position:relative;
}
#search{
    padding-top:3px;
    cursor:pointer;
    position:relative;
    left:0;
    width:250px;
    height:30px;
}
.site-search{
    position:absolute;
    left:30px;
    width:0px;
    padding:3px 5px;
    transition:all 1s;
    opacity:0;
    outline:none; 
}
.site-search.on{
    width:150px;
    opacity:1;
}
#menu{
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}
#menu1{
    display:flex;
    justify-content:space-between;
}
#menu1 > li{
    padding:10px 20px;
}
#menu1 > li > a {
    font-size:14px;
    font-weight:500;
    letter-spacing:2px;
}
#menu1 > li:hover > a{
    color:rgb(80, 188, 231);
    transition:0.3s;
}
.logo{
    padding:10px 20px;
    width:116px;
    height:58px;
}
#menu2{
    display:flex;
    justify-content:space-between;
}
#menu2 > li{
    padding:10px 20px;
}
#menu2 > li > a {
    font-size:14px;
    font-weight:500;
    letter-spacing:2px;
}
#menu2 > li:hover > a{
    color:rgb(80, 188, 231);
    transition:0.3s;
    
}
#language{
    position:relative;
    right:0;
    width:250px;
    height:100px;
    
}
.language-img{
    position:absolute;
    right:0;
    top:35px;
}
.language_box{
    position:absolute;
    top:70px;
    right:0;
}
.language_menu{
    padding:5px 10px;
    float:left;
    position:relative;
    bottom:7px;
    display:none;
    text-align:center;
}
.language_menu.on{
    display:block;
}
.language_menu>span{
    cursor:pointer;
    float:left;
}
.language_menu>span:hover{
    color:rgb(80, 188, 231);
    transition:0.3s;
}
.language_box span:last-child::before{
    content:"";
    display:inline-block;
    width:1px;
    height:11px;
    background-color:#333;
    margin:0 8px;
    
}
#moblie_logo{
    display:none;
}
/* header영역입니다 */
#title{
    width:100%; 
    height:30px; 
    margin:0 auto; 
}
#title > h2{
    text-align:center;
    font-size:25px; 
    line-height:30px; 
    margin-top:150px;
}


#sect1{
    width:1200px; 
    height:250px; 
    margin:0 auto;
    margin-top:150px;
}
#sect1 > .photo{
    width:393.33px; 
    height:250px; 
    background-color:#333333;
    float:left; 
    margin-right:10px;
}
#sect1 > .photo:nth-child(3){
    margin-right:-10px;
}

#sect2{
    width:1200px; 
    height:400px;
    margin:0 auto;
    margin-bottom:150px;
    margin-top:150px;
}
#main_youtv{
    width:750px; 
    height:400px; 
    float:left; 
    background-image:url("../img/media-0.jpg"); 
    cursor:pointer; 
    position:relative;
}
#main_youtv > img{
    width:50px; 
    height:50px; 
    position:absolute; 
    left:50%; 
    margin-left:-25px; 
    top:175px;
}
iframe{
    width:800px; 
    height:500px;
}
#sect2_text{
    width:450px; 
    height:400px;
    float:left; 
    margin:0 auto;
}
#sect2_text h4{
    font-size:24px; 
    line-height:24px; 
    text-align:center;
}
#text_box1{
    width:300px; 
    height:350px; 
    padding-top:25px; 
    margin:0 auto; 
}
#text_box1>span{
    margin-top:25px; 
    font-size:14px;
    line-height:24px; 
}
#text_box1>h5{
    font-size:17px; 
    line-height:24px;
    padding:10px 0 10px;
}
#text_box1>p{
    font-size:14px; 
    line-height:31px;  
    text-align:justify;  
    word-spacing:-2px;
}

#sect3{
    width:1200px; 
    height:500px; 
    margin:0 auto; 
    margin-bottom:150px;
}
#sect3 > .news{
    width:393.33px; 
    height:550px; 
    border:1px solid #e0e0e0;
    float:left; 
    margin-right:10px;
}
#sect3 > .news:nth-child(3){
    margin-right:-10px;
}
.news > .photo{
    width:393.33px; 
    height:250px; 
    background-color:#333333;
    float:left; 
    margin-right:10px; 
    margin-bottom:25px;
}
#sect3 > .photo:nth-child(3){
    margin-right:-10px;
}
.news_text{
    width:300px; 
    height:250px;  
    float:left; 
    margin-left:48px;
}
.news_text > span{ 
    font-size:14px;
    line-height:24px;
}
.news_text > h5{
    font-size:17px; 
    line-height:24px;
    padding:10px 0 10px;
}
.news_text > p{
    font-size:14px; 
    line-height:31px;  
    text-align:justify;
    word-spacing:-1px;
}
.news:hover{
    background-color:#333333;
    color:white;
}

/* footer영역입니다 */
footer{
    background-color:#333333;
    color:#ffffff;
}
.footer_box{
    padding:20px 0;
}
.contact_info{
    font-size:16px;
    padding:10px 0;
    
    letter-spacing:1px;
}
.info_contents{
    font-size:14px;
    padding:10px 0;
    float:left;
    font-weight:300;
    letter-spacing:1px;
}
.copyright{
    font-size:12px;
    padding:30px 0 10px;
    float:right;
    font-weight:300;
    letter-spacing:1px;
}

/*데스크탑에서 모바일메뉴영역 감추기*/
#moblie-menu-area{
    display:none;
}
.moblie_logo{
    display:none;
}
/*햄버거 메뉴디자인 */
#moblie-open{
    display:none;
    width:35px;
    height:40px;
    position:absolute;
    top:30px;
    right:10px;
    cursor:pointer;
}
.bar1, .bar2, .bar3{
    width:35px;
    height:5px;
    background-color:#333;
    margin:6px 0;
}
/* 부모요소(#btn)에 change가 붙여지면 자식요소 bar1, bar2, bar3에 각각 트랜지션스타일 준다 css 버튼 */
#moblie-open.on .bar1{
    transform:rotate(-225deg) translate(9px, -8px);
}
#moblie-open.on .bar2{
    opacity:0;
}
#moblie-open.on .bar3{
    transform:rotate(225deg) translate(8px, 6px);
}

@media all and (max-width:600px){
    .inner{
        width:100%;
    }

    /* header영역입니다 */
    header{
        width:100%;
        height:100px;
        line-height:100px;
        border-bottom:1px solid rgba(0, 0, 0, 0.2);

    }
    #menu_box{
        display:none;
    }
    #moblie-menu-area{
        display:flex;
        flex-direction: column;
        align-items:center;
        position:relative;
        top:100px;
    }
    .moblie_logo{
        position:absolute;
        background:url("../img/logo.png") no-repeat;
        background-size:cover;
        width:116px;
        height:58px;
        text-indent:-9999px;
        z-index:999;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
    }
    .moblie_logo a{
        z-index:999;
        height:58px;
    }
    #moblie-open{
        display:block;
    }
    #moblie_menu{
        display:none;
        width:100%;
        background-color:#fff;
    }
    #moblie_menu li{
        text-align:center;
		border-bottom:1px solid #ededed;
        border-top:1px solid #ededed;
    }
    #moblie_menu li a{
		font-size:15px;
		color:#555;
		font-weight:600;
    }
    #moblie_menu li:hover a{
        color:rgb(80, 188, 231);
        transition:0.3s;
    }
    .moblie_logo{
        display:block;
    }
    /* header영역입니다 */

    /* footer영역입니다 */
    .contact_info{
        width:100%;
        text-align:center;
    }
    .info_contents{
        width:100%;
        text-align:center;
    }
    .copyright{
        float:none;
        width:100%;
        text-align:center;
        padding:10px 0;
    }
    .footer_inner{
        width:100%;
    }
    /* footer영역입니다 */

}

#modal_wrap{
    width:100%;
    height:100%;
    position:fixed;
    background-color:rgba(0,0,0,0.6);
    display:none;
    z-index:1000000;
}
.modal-content{
    margin:100px auto;
    text-align:center;
}
#close{
    width:80px;
    height:30px;
}
