@charset "utf-8";

/* 전체영역입니다 */
*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}
li{
    list-style-type:none;
}
a{
    text-decoration:none;
    color:inherit;
}
body{
    overflow-x:hidden;
	color:#333333;
}
.clearfix::after{
	content:'';
	display:block;
	clear:both;
}
/* 전체영역입니다 */

/* header영역입니다 */
header{
    width:100%;
    height:100px;
    border-bottom:1px solid rgba(0, 0, 0, 0.2);
    background-color:#fff;
    position:sticky;
    top:0px;
    z-index:9999;
}
.inner{
    width:1200px;
    margin:0 auto;
}
#menu_box{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:100px;
    position:relative;
}
#search{
    padding-top:3px;
    cursor:pointer;
    position:relative;
    left:0;
    width:250px;
    height:30px;
}
.site-search{
    position:absolute;
    left:30px;
    width:0px;
    padding:3px 5px;
    transition:all 1s;
    opacity:0;
    outline:none; 
}
.site-search.on{
    width:150px;
    opacity:1;
}
#menu{
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}
#menu1{
    display:flex;
    justify-content:space-between;
}
#menu1 > li{
    padding:10px 20px;
}
#menu1 > li > a {
    font-size:14px;
    font-weight:500;
    letter-spacing:2px;
}
#menu1 > li:hover > a{
    color:rgb(80, 188, 231);
    transition:0.3s;
}
.logo{
    padding:10px 20px;
    width:116px;
    height:58px;
}
#menu2{
    display:flex;
    justify-content:space-between;
}
#menu2 > li{
    padding:10px 20px;
}
#menu2 > li > a {
    font-size:14px;
    font-weight:500;
    letter-spacing:2px;
}
#menu2 > li:hover > a{
    color:rgb(80, 188, 231);
    transition:0.3s;
    
}
#language{
    position:relative;
    right:0;
    width:250px;
    height:100px;
    
}
.language-img{
    position:absolute;
    right:0;
    top:35px;
}
.language_box{
    position:absolute;
    top:70px;
    right:0;
}
.language_menu{
    padding:5px 10px;
    float:left;
    position:relative;
    bottom:7px;
    display:none;
    text-align:center;
}
.language_menu.on{
    display:block;
}
.language_menu>span{
    cursor:pointer;
    float:left;
}
.language_menu>span:hover{
    color:rgb(80, 188, 231);
    transition:0.3s;
}
.language_box span:last-child::before{
    content:"";
    display:inline-block;
    width:1px;
    height:11px;
    background-color:#333;
    margin:0 8px;
    
}
#moblie_logo{
    display:none;
}
/* header영역입니다 */


/* title입니다 */
#title{
	width:1200px; 
	height:30px; 
	margin:150px auto;}
#title > h2{
	text-align:center; 
	font-size:25px;
	line-height:30px;
}
/* title입니다 */


#sect1{
	width:1200px;
	height:632px; 
	margin:150px auto;
}
.info_photo1{
	width:1200px; 
	height:400px; 
	overflow:hidden;
}
.info1{
	width:1200px; 
	height:182px; 
	margin-top:50px;
}
.info1 > h3{
	text-align:center; 
	font-size:25px; 
	line-height:33px;
	padding-bottom:25px;
}
.info1 > p{
	text-align:justify; 
	word-spacing:1px; 
	line-height:31px; 
	font-size:14px; 
	letter-spacing:-1px;
}


#sect2{
	width:1200px; 
	height:400px; 
	margin:150px auto;
	
}
.info_photo2{
	width:800px; 
	height:400px;
	float:right;
	overflow:hidden;
}
.info2{
	width:300px; 
	height:350px; 
	margin-left:50px; 
	padding-top: 25px;
	float:left;
}
.info2 > h3{
    font-size:25px; 
    line-height:33px;
    padding-bottom:25px;
}
.info2 > p{
    text-align:justify; 
    word-spacing:1px; 
    line-height: 31px; 
    font-size:14px; 
    letter-spacing:-1px;
}

#sect3{
	width:1200px;
	height:400px; 
	margin:150px auto;
}
.info_photo3{
	width:800px; 
	height:400px; 
	float:left;
	overflow:hidden;
}
.info3{
    width:300px; 
    height:350px;
    margin-left:50px; 
    padding-top:25px;
    float:left;
}
.info3 > h3{
    font-size:25px; 
    line-height:33px;
    padding-bottom:25px;
}
.info3 > p{
    text-align:justify; 
    word-spacing:1px; 
    line-height:31px; 
    font-size:14px; 
    letter-spacing:-1px;
}

#sect4{
    width:1200px; 
    height:450px; 
    margin: 0 auto;
}
.info_photo4{
    width:800px; 
    height: 450px; 
    float: right;
    overflow: hidden;
}
.info4{
    width:300px; 
    height:400px; 
    margin-left:50px; 
    padding-top:25px;
    float: left;
}
.info4 > h3{
    font-size:25px; 
    line-height:33px;
    padding-bottom:25px;
}
.info4 > p{
    text-align:justify; 
    word-spacing:1px; 
    line-height:31px; 
    font-size:14px; 
    letter-spacing:-1px;
}

#sect5{
    width:1200px; 
    height:900px;
    margin:0 auto; 
    margin-top:150px;
}
.info5{
    width:300px; 
    height:400px; 
    margin:0 50px 0 50px; 
    padding-top:25px;
    float:left;
}
.info5 > h3{
    font-size:25px; 
    line-height:33px;
    padding-bottom:25px;
}
.info5 > p{
    text-align:justify; 
    line-height:31px;
    font-size:14px; 
    word-spacing:-3px;
}

.info6{
    width:300px; 
    height:400px; 
    margin:0 50px 0 50px; 
    padding-top:25px;
    float: left;
}
.info6 > h3{
    font-size:25px; 
    line-height:33px;
    padding-bottom:25px;
}
.info6 > p{
    text-align:justify; 
    word-spacing:-3px; 
    line-height:31px; 
    font-size: 14px;
}

.info7{
    width:300px; 
    height:400px; 
    margin:0 50px 0 50px; 
    padding-top:25px;
    float: left;
}
.info7 > h3{
    font-size:25px; 
    line-height:33px;
    padding-bottom:25px;
}
.info7 > p{
    text-align:justify; 
    word-spacing:-3px; 
    line-height:31px; 
    font-size:14px; 
}

.info_photo5{
    width:1200px; 
    height:400px; 
    float:left; 
    margin-top:50px;
    overflow:hidden;}


.info_photo1 img,
.info_photo2 img,
.info_photo3 img,
.info_photo4 img,
.info_photo5 img{
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);	
	-o-transform:scale(1);	
	transform:scale(1);
	-webkit-transition:.3s;
	-moz-transition:.3s;
	-ms-transition:.3s;
	-o-transition:.3s;
	transition:.3s;
}
.info_photo1:hover img,
.info_photo2:hover img,
.info_photo3:hover img,
.info_photo4:hover img,
.info_photo5:hover img {
	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);
	-ms-transform:scale(1.2);	
	-o-transform:scale(1.2);
	transform:scale(1.2);
}



/* footer영역입니다 */
footer{
    background-color:#333333;
    color:#ffffff;
}
.footer_box{
    padding:20px 0;
}
.contact_info{
    font-size:16px;
    padding:10px 0;
    
    letter-spacing:1px;
}
.info_contents{
    font-size:14px;
    padding:10px 0;
    float:left;
    font-weight:300;
    letter-spacing:1px;
}
.copyright{
    font-size:12px;
    padding:30px 0 10px;
    float:right;
    font-weight:300;
    letter-spacing:1px;
}

/*데스크탑에서 모바일메뉴영역 감추기*/
#moblie-menu-area{
    display:none;
}
.moblie_logo{
    display:none;
}
/*햄버거 메뉴디자인 */
#moblie-open{
    display:none;
    width:35px;
    height:40px;
    position:absolute;
    top:30px;
    right:10px;
    cursor:pointer;
}
.bar1, .bar2, .bar3{
    width:35px;
    height:5px;
    background-color:#333;
    margin:6px 0;
}
/* 부모요소(#btn)에 change가 붙여지면 자식요소 bar1, bar2, bar3에 각각 트랜지션스타일 준다 css 버튼 */
#moblie-open.on .bar1{
    transform:rotate(-225deg) translate(9px, -8px);
}
#moblie-open.on .bar2{
    opacity:0;
}
#moblie-open.on .bar3{
    transform:rotate(225deg) translate(8px, 6px);
}

@media all and (max-width:600px){
    .inner{
        width:100%;
    }

    /* header영역입니다 */
    header{
        width:100%;
        height:100px;
        line-height:100px;
        border-bottom:1px solid rgba(0, 0, 0, 0.2);

    }
    #menu_box{
        display:none;
    }
    #moblie-menu-area{
        display:flex;
        flex-direction: column;
        align-items:center;
        position:relative;
        top:100px;
    }
    .moblie_logo{
        position:absolute;
        background:url("../img/logo.png") no-repeat;
        background-size:cover;
        width:116px;
        height:58px;
        text-indent:-9999px;
        z-index:999;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
    }
    .moblie_logo a{
        z-index:999;
        height:58px;
    }
    #moblie-open{
        display:block;
    }
    #moblie_menu{
        display:none;
        width:100%;
        background-color:#fff;
    }
    #moblie_menu li{
        text-align:center;
		border-bottom:1px solid #ededed;
        border-top:1px solid #ededed;
    }
    #moblie_menu li a{
		font-size:15px;
		color:#555;
		font-weight:600;
    }
    #moblie_menu li:hover a{
        color:rgb(80, 188, 231);
        transition:0.3s;
    }
    .moblie_logo{
        display:block;
    }
    /* header영역입니다 */

    /* footer영역입니다 */
    .contact_info{
        width:100%;
        text-align:center;
    }
    .info_contents{
        width:100%;
        text-align:center;
    }
    .copyright{
        float:none;
        width:100%;
        text-align:center;
        padding:10px 0;
    }
    /* footer영역입니다 */

}